<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'my_style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div style="text-align: center">
            <h1>
                Chat Room
            </h1>
    </div>
    <div class="row">

      <div class="column">
          <p> Please enter the key words to send the video clips.</p>
            <input id="end-message-submit" type="button" class="btn btn-outline-primary" value="Exit"/>
           <input type="button" class="btn btn-outline-primary" value="Show Category" onclick="showCategory()"/>
      </div>
    </div>
        <div id="category" class="row" >
            <div class="column" style="width:33%">
                <h2>sentence</h2>
                <input id="chat-message-input" type="text" onkeypress="this.style.width = ((this.value.length + 1) * 8 + 10) + 'px';"/><br/>
                <input id="chat-message-submit" type="button" value="Send"/>
            </div>
            <div class="column" style="width:33%">
                <h2>action</h2>
                <div id="action"></div>
            </div>
            <div class="column" style="width:33%">
                <h2>emotion</h2>
                <div  id="emotion"></div>
            </div>

    </div>
    <div style="display: flex; justify-content: center">
        <div style="display: inline">
             <h3>Selected Videos Preview</h3>
            <div id="preview" ></div>
        </div>


    </div>
    <table id="media" class="table table-bordered">
    </table>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var roomName = {{ room_name_json }};
    var name = {{ user }};
    {#var API_KEY = "{{ env }}";#}

    var chatSocket = new WebSocket(
        'ws://127.0.0.1:8000/ws/chat/' + roomName + '/');
    console.log(window.location.host)
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var media = data['media'];
        var name = data["name"]
        if (data['exit'] == 1){
            alert(message)
        }else {
            var tr = document.createElement("tr");
            var th_name = document.createElement("th");
            th_name.innerText = name;
            var th_frame = document.createElement("th");
            switch (media){
                case "sentence":{
                    var node = document.createElement("p");
                    node.width = 100;
                    node.height = 80;
                    node.innerText = (message + '\n');
                    break;
                }
                default:{
                    var node = document.createElement("IFRAME");
                    node.width = 100;
                    node.height = 80;
                    node.src = "https://www.youtube.com/embed/"+message;
                    node.allow = "accelerometer; autoplay;encrypted-media;";
                    node.value = name;
                    break;
                }
            }

            th_frame.appendChild(node)
            th_frame.classList.add("table_col");
            tr.append(th_name);
            tr.append(th_frame);
            node.classList.add(name);
            document.getElementById("media").appendChild(tr);

        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        messageInputDom.value = '';
        chatSocket.send(JSON.stringify({
                        'message': message,
                        'media': "sentence",
                        'name': name
        }));
        messageInputDom.value = '';
        {#$.ajax({#}
        {#    type: "GET",#}
        {#    url: "/videos/?key=" + message,#}
        {#    url: "https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=25&q=" + message + "&key=" + API_KEY#}
        {#}).done((res) => {#}
        {#    items = res.items;#}
        {#    message = message.replace(/\s+/g, '+');#}
        {#    len = items.length > 6 ? 6 : items.length;#}
        {#    for (i = 0; i < len; i++) {#}
        {#        video_id = items[i].id.url;#}
        {#        var div = document.createElement("div");#}
        {#        var node = document.createElement("IFRAME");#}
        {#        node.width = 150;#}
        {#        node.height = 100;#}
        {#        node.src = "https://www.youtube.com/embed/" + video_id;#}
        {#        node.allow = "accelerometer; autoplay;encrypted-media;";#}
        {#        node.classList.add(video_id);#}
        {#        var button = document.createElement("input");#}
        {#        button.type = "button";#}
        {#        button.value = "send";#}
        {#        button.classList.add(video_id);#}
        {#        button.addEventListener("click", (e) => {#}
        {#            chatSocket.send(JSON.stringify({#}
        {#                'message': message,#}
        {#                'videos': $(e.target).attr("class"),#}
        {#                'name': name#}
        {#            }));#}
        {#            document.getElementById("preview").innerText = "";#}
        {##}
        {#        })#}
        {#        div.classList.add("column");#}
        {#        div.appendChild(node);#}
        {#        div.appendChild(button);#}
        {#        document.getElementById("preview").appendChild(div);#}
        {#    }#}
        {##}
        {#}).fail(() => {#}
        {#    alert("keyword provided is wrong");#}
        {#})#}
    }

    document.querySelector('#end-message-submit').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'message': "The experiment is done, please go to http://questionnaire.com/ " +
            "to finish the questionnaire.",
            "exit": 1,
            'name': name
        }));
    };
    function showCategory(){
        var categories = ["action", "emotion"];
        for(j = 0; j < categories.length; j++){
            createCategories(categories[j]);
    }
    }


    function createCategories(category){
        $.ajax({
            type: "GET",
            url: "/videos/?category=" + category
        }).done((res)=>{
            console.log(category);
            var element = document.querySelector("#"+category);
            element.innerHTML = "";
            var parent = document.querySelector("#preview");
            parent.innerHTML = "";
            for(i=0; i<res.length; i++){
                var button = document.createElement("input");
                button.type = "button";
                button.value = res[i].name;
                button.category = category;
                button.url = res[i].url;
                button.addEventListener("click", (e)=>{
                    switch (e.srcElement.category){
                        case "action":
                        case "emotion":{
                            var video_id = e.srcElement.url;
                            var node = createIFrame(video_id, category);
                            parent.appendChild(node);
                            break;
                        }
                        {#case "noun":{#}
                        {#    var image_url = e.srcElement.url;#}
                        {#    console.log(image_url);#}
                        {#    var node = createImageTag(image_url, category);#}
                        {#    parent.appendChild(node);#}
                        {#    break;#}
                        {#}#}
                    }

                })
                element.appendChild(button)
            }
            j++;
            return res;
        })
    }

    {#function createImageTag(image_url, className){#}
    {#    var div = document.createElement("div");#}
    {#    var node = document.createElement("img");#}
    {#    node.width = 150;#}
    {#    node.height = 100;#}
    {#    node.src = image_url;#}
    {#    node.classList.add(image_url);#}
    {#    var button = document.createElement("input");#}
    {#    button.type = "button";#}
    {#    button.value = "send";#}
    {#    button.classList.add(className);#}
    {#    button.addEventListener("click", (e)=>{#}
    {#        chatSocket.send(JSON.stringify({'message':image_url, 'media': $(e.target).attr("class"), 'name': name }));#}
    {##}
    {#    })#}
    {#    div.classList.add("column");#}
    {#    div.appendChild(node);#}
    {#    div.appendChild(button);#}
    {#    return div;#}
    {#}#}

    function createIFrame(video_id, className){
        var div = document.createElement("div");
        var node = document.createElement("IFRAME");
        node.width = 150;
        node.height = 100;
        node.src = "https://www.youtube.com/embed/"+video_id;
        node.allow = "accelerometer; autoplay;encrypted-media;";
        node.classList.add(className);
        var button = document.createElement("input");
        button.type = "button";
        button.value = "send";
        button.classList.add(className);
        button.addEventListener("click", (e)=>{
            chatSocket.send(JSON.stringify({'message':video_id,'media': $(e.target).attr("class"), 'name': name }));

        })
        div.classList.add("column");
        div.appendChild(node);
        div.appendChild(button);
        return div;
    }

</script>

</html>